<div class="container">
    <div class="row">
        <strong class="col-md-8 col-md-offset-2">== Após Reestruturação ==</strong>
            <app-message-list></app-message-list>
        
    </div>
</div>
<button (click)="onMudaMostrarElemento()">Click aqui Div</button>
{{mostrarElemento}}
<div *ngIf="mostrarElemento">
    <p>Cadê a div que esta aqui com um monte de elementos</p>
    <select id="cboCidades">
        <option value=""></option>
        <option value="vix">Vitória</option>
        <option value="vv">Vila Velha</option>
    </select>
    <button>Click Aqui</button>
</div>
<br/><br/>