<article class="panel panel-default" [ngStyle]="{backgroundColor: color}">
    <div class="panel-body">
        <input type="text" style="background: transparent; border: none" [(ngModel)]="messageVarClasse.content">
    </div>
    <footer class="panel-footer">
        <div class="author">
            <input type="text" style="background: transparent; border: none" [(ngModel)]="messageVarClasse.username">
        </div>
        <div class="config">
            <a (click)="onEdit(messageVarClasse)">Edit</a>
            <a (click)="onDelete(messageVarClasse.messageId)">Delete</a>
        </div>
    </footer>
</article>