<article class="panel panel-default" [ngStyle]="{backgroundColor: color}"
                                     (click)="color = 'yellow'"
                                     (dblclick) ="onMudaStyle()"
                                     (mouseenter)="color = 'green'"
                                     (mouseenter)="color = 'blue'">
    <div class="panel-body">
        {{ messageVarClasse.content }}
        {{ messageVarClasseAlias.content }}
    </div>
    <footer class="panel-footer">
        <div class="author">
            {{ messageVarClasse.username }}
            {{ messageVarClasseAlias.username }}
        </div>
        <div class="config">
            <a (click)="onEdit()">Edit</a>
            <a (click)="onDelete()">Delete</a>
        </div>
    </footer>
</article>